name: CI

on:
  push:
    branches:
      - '**'  # Run on all branches
    tags:
      - 'v*.*.*'  # Run on version tags like v0.1.0
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.1'
          bundler-cache: true
      - name: Run linting
        run: bundle exec rubocop
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    needs: lint
    strategy:
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake spec

  docker:
    runs-on: ubuntu-latest
    needs: [test, lint]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4

      - name: Extract version from tag
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/o3sr:${{ steps.version.outputs.VERSION }}
            ${{ secrets.DOCKER_USERNAME }}/o3sr:latest
